.show-chats {
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
  }

  .show-chats .loader{
    display: grid;
    grid-template-columns: 1fr;
justify-items: center;
  }

  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }