.incoming-chat-wrapper{
    margin: 30px 0;
}

.incoming-chat-wrapper .incoming-chat{
    background:  #F8FFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid #BEDFE6;
    max-width: 50%;
    word-break: break-all;
}

@media screen and (max-width:800px){
    .incoming-chat{
        max-width: 90%;
    }
}