.timestamp-holder {
  padding: 10px 15px;
  background: aliceblue;
  color: white;
  max-width: 200px;
  background:#BEDFE6 0% 0% no-repeat padding-box;
  margin: 10px auto;
  box-shadow: 0px 1px 6px #bedfe69b;
  border: 1px solid #bedfe662;
  border-radius: 10px;
  text-align: center;
  
}

@media screen and (max-width:800px){
  .timestamp-holder{
    padding: 5px 10px;
  }
}
