.signup-form-holder{
position: relative;
}

.signup-form-holder .cookie{
    margin: 20px auto;
    bottom: 0;

}

.signup-form-holder .submit {
    padding: 10px 15px;
    background: #073b9f;
    color: white;
    display: block;
    margin: 20px auto;
    outline: none;
    border: none;
    border-radius: 5px;
  }

  .signup-form-holder .close-modal{
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
  }

