.signin-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
}

.signin-wrapper .signin-left img {
  width: 100%;
  height: 100vh;
}

.signin-wrapper .signin-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 70px;
  justify-items: center;
}

.signin-wrapper .signin-right img{
  height: 100px;
  width: 100px;
  margin: auto;
}

.signin-wrapper .form-holder {
  margin: 0 auto;
  align-self: center;
  max-width: 92%;
  
}

.signin-wrapper .form-holder .anon {
  
}

.signin-wrapper .form-holder p {
  text-align: center;
}

.signin-wrapper .forgot-password {
  text-align: end;
  color: #073b9f;
}

.select-holder {
  margin-top: 35px;
}

.signin-wrapper .submit {
  padding: 10px 15px;
  background: #2c7a7b;
  color: white;
  display: block;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5px;
}

.cookie {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 90%;
}

@media (max-width: 900px) {
  .signin-wrapper {
    grid-template-columns: 1fr;
  }
  .signin-wrapper .signin-left {
    display: none;
  }
}
